  body{
    font-family: 'Bangers', Do Hyeon;
    text-shadow: 1px 1px 1px #aaa;
    margin:0;
    font-size: 20px;
  }
  a{
    color:black;
    text-decoration: none;
  }
  h1{
    text-decoration: none;
    font-size:80px;
    text-align:center;
    border-bottom:dashed black 5px;
    border-radius: 100px;
    padding:25px;
    margin:0;
  }
  #grid{
    display:grid;
    grid-template-columns: 150px 1fr;
  }
  #grid ol{
    border-right:dashed black 5px;
    width:100px;
    margin:0;
    padding:20px;
    padding-left:26px;
  }
  #article{
    padding-left:25px;
  }
